body {
    background-color: beige;
}

h2 {
    color: rgb(102, 102, 239);
    
}

.note {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
}

.message {
color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}